{% extends "form_div_layout.html.twig" %}

{%- block choice_widget_expanded -%}
<div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
        {% set entity = form.vars.choices[child.vars.value].data %}{# get entity object #}
            <div class="col-xs-12">
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                <div class="hidden-tooltip">
                    {{ entity.description | raw }}
                </div>
            </div>
        {% if loop.index==1 %}

        {% endif %}
        {% if not loop.last %}
            <div class="col-xs-12">
                <hr>
            </div>
        {% endif %}
    {% endfor -%}
</div>
{%- endblock choice_widget_expanded -%}