{% extends 'form_div_layout.html.twig' %}

{% block file_widget %}
    {% spaceless %}

        {{ block('form_widget') }}
        {% if image_url is not null %}
            <img src="{{ image_url | imagine_filter('thumbnail') }}"/>
        {% endif %}

    {% endspaceless %}
{% endblock %}


{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="list-unstyled">
            {%- for error in errors -%}
                <li class="color-red">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}