{% if aTables %}
    {% for oItem in aTables %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 itemDisplay">
            <div class="row">
            <span>
                <p class="itemDisplayName aligncenter">{{ oItem.name }}</p>
                <img class="img-responsive" id="primaryImageDisplay"
                     src="{{ oItem.primaryImage(primaryMaterial) | imagine_filter('primaryImage') }}">
            </span>
                <div class="product-option-shop">
                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                       rel="nofollow"
                       href="{{ path('_specificTable', { 'name' : oItem.name, 'code' : oItem.code}) }}">Configure</a>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
        </div>
    {% endfor %}
{% endif %}
