{% if aTables %}
    {% for oItem in aTables %}
        <div class="col-md-3 col-sm-6">
            <div class="single-shop-product">
                <div class="product-upper">
                    <p> {{ oItem.name }}</p>
                    <img src="{{ oItem.primaryImage(primaryMaterial) | imagine_filter('primaryImage')}}">
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="{{ path('_specificTable', { 'name' : oItem.name, 'code' : oItem.code}) }}">Configure</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
