{% if aTables %}
    {% for oItem in aTables %}
        <div class="col-sm-6 col-lg-4 itemDisplay">
            <div class="row col-sm-12">
            <p class="itemDisplayName text-center aligncenter">{{ oItem.name }}</p>
            <span>
                <div class="single-product">
                    <div class="product-f-image">
                        <img class="center-block img-responsive" id="primaryImageDisplay"
                             src="{{ oItem.primaryImage(primaryMaterial) | imagine_filter('primaryImage') }}">
                        <div class="product-hover">
                        <a href="{{ path('_specificTable', { 'name' : oItem.name, 'code' : oItem.code}) }}"
                           class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Configure</a>
                        </div>
                    </div>
                </div>
            </span>
            </div>
            <div class="col-sm-12 row">
                <hr>
            </div>
        </div>
    {% endfor %}
{% endif %}
