<div class="dynamicSpecs container-fluid">
    <h6 id="name"><strong> {{ oItem.name }} </strong></h6>
    <h6 id="surface"><strong>{% trans %} app.dimensions {% endtrans %}:</strong></h6>
    <h6 id="plank"><strong>{% trans %} app.plank {% endtrans %}:</strong></h6>
    <h6 id="wood"><strong>{% trans %} app.wood.selection{% endtrans %}:</strong></h6>
    <h6 id="quality"><strong>{% trans %} app.timber.quality{% endtrans %}:</strong></h6>
    <h6 id="tempering"><strong>{% trans %} app.timber.tempering {% endtrans %}:</strong></h6>
    <div class="row">
        <hr>
    </div>
   <span >
    <small>{% trans %}app.vat.included{% endtrans %}</small>
    <button class="btn btn-cart" id="cartButton" name="cartButton">{% trans %} app.currency {% endtrans %}{{ oItem.basePrice }}</button>
   </span>
</div>