{% extends ':client:products.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                Pics and title go here
            </div>
            <div class="col-sm-3">
                desciption goes here
            </div>
            <div class="col-sm-4">
                options go here
            </div>
        </div>
    </div>
{% endblock %}