{% extends ':client:products.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img src="{{oItem.primaryImage | imagine_filter('productDisplay')}}"/>
                <p>{{ oItem.description }}</p>
            </div>
            <div class="col-sm-3">
                {% include ':client/subContent:dynamicSpecs.html.twig' %}
            </div>
            <div class="col-sm-4">
                {% include ':client/subContent:configurations.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}