{% block head %}
    <!-- Header area -->
    {% include 'client/statics/header.html.twig' %}
    <!-- End of header area -->
{% endblock %}
{% block content %}
     <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>{% trans %}app.aboutus{% endtrans %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br />
        Artimex Sport is one of the most important manufacturers for gymnastic equipment, sport stadium and sport halls for 20 years.
        <br /><br />
        We manufacture gymnastics Stall bars and benches, gymnastic mats, soccer goals, handball goals, rugby goal posts and other products for individual training and team sports.
        <br /><br />
        Our representative for USA and Canada is Artimex Sport GmbH, with distribution facilities in the mid-Atlantic region. Our goal is to provide the highest level of customer service and support to complement our high quality line of products.
        <br /><br />
        All of our Stall Bars are covered by a full 10 year warranty. The type of gymnastics wall bars we produce are recommended to be used for rehabilitation or muscle tone maintenance exercises. You will find videos on our Products pages that illustrate the broad range of exercises that can be done on gymnastic Stall Bars.
        <br /><br />
        Prices<br />
        Prices are subject to change at any time.<br /><br />

        Payment<br />
        Payment methods:<br />
        Advance payment when placing the order (3% discount)<br />
        PayPal<br />
        Credit cards<br /><br />


        Shipping<br />
        Prices Including shipping within USA.<br />
        Deliver of your orders will be made via either UPS<br /><br />

        Return<br />
        If you are not completely satisfied with your order, you may contact us for either an exchange or return for refund within 30 days! Please see details on our website.
        <br /><br />
        Privacy Policy<br />
        Artimex Sport is committed to protecting your privacy. The confidential data you submit is protected using SSL encryption.
        All of the customer data we collect is protected against unauthorized access and is never sold, traded or rented for commercial purposes to other organizations. </target>
        <br />
    </div>

    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
{% endblock %}
{% block footer %}
    <!-- Start of footer area -->
     {% include '/client/statics/footer.html.twig' %}
    <!-- End of footer area -->
{% endblock %}