{% block head %}
    <!-- Header area -->
    {% include 'client/statics/header.html.twig' %}
    <!-- End of header area -->
{% endblock %}
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>{% trans %}app.checkout{% endtrans %}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% include ':client/subContent/cart:delivery_detailts.html.twig' %}
        <div class="col-xs-12 col-md-4" id="grand-total">
            {% include ':client/subContent/cart:cart_totals.html.twig' %}
        </div>
    </div>
    <div class="row">
        {% include ':client/subContent/cart:payment_method.html.twig' %}
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/app/js/cartScripts/followMe.js') }}" type="text/javascript"></script>
{% endblock %}
    {% block footer %}
    <!-- Start of footer area -->
    {% include '/client/statics/footer.html.twig' %}
    <!-- End of footer area -->
{% endblock %}