{% block head %}
    <!-- Header area -->
    {% include 'client/statics/header.html.twig' %}
    <!-- End of header area -->
{% endblock %}

{% block subnenu %}
    <div class="container">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <a href="{{ path('_allArticles') }}">{% trans %}app.all.products{% endtrans %}</a>
                <a href="{{ path('_products') }}" >{% trans %}app.all.tables{% endtrans %}</a>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
<ul class="list-inline">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                 {% if aTables is not null %}
                     {% include 'client/subContent/allTables.html.twig' %}
                {% endif %}
                {% if aArticles is not null %}
                    {% include 'client/subContent/allArticles.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
</ul>
{% endblock %}
{% block footer %}
    <!-- Start of footer area -->
    {% include '/client/statics/footer.html.twig' %}
    <!-- End of footer area -->
{% endblock %}
