{% block head %}
    <!-- Header area -->
    {% include 'client/statics/header.html.twig' %}
    <!-- End of header area -->
{% endblock %}
{% block subnenu %}


    <!-- subnav here -->
    <div class="navbar subnav" role="navigation">
        <div class="navbar-inner">
            <div class="container">
                <ul class="pager subnav-pager">
                    <div class="btn-group-wrap">
                        <li><a href="{{ path('_allArticles') }}">{% trans %}app.all.products{% endtrans %}</a></li>
                        <li><a href="{{ path('_products') }}" >{% trans %}app.all.tables{% endtrans %}</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}
{% block content %}
<ul class="list-inline">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row col-xs-12">
                 {% if aTables is not null %}
                     {% include 'client/subContent/allTables.html.twig' %}
                {% endif %}
                {% if aArticles is not null %}
                    {% include 'client/subContent/allArticles.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
</ul>
{% endblock %}
{% block footer %}
    <!-- Start of footer area -->
    {% include '/client/statics/footer.html.twig' %}
    <!-- End of footer area -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/js/tablePriceCalculationHandler.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/mouseOverDisplayMaterialImage.js') }}" type="text/javascript"></script>
{% endblock %}