{% block head %}
    <!-- Header area -->
    {% include 'client/statics/header.html.twig' %}
    <!-- End of header area -->
{% endblock %}
{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>{% trans %}app.terms{% endtrans %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

    </div>

    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br/>
                    Privacy Policy<br/>
                    Artimex Sport is committed to protecting your privacy. The confidential data you submit is protected using SSL encryption.<br/>
                    All of the customer data we collect is protected against unauthorized access and is never sold, traded or rented for commercial purposes to other organizations.<br/>
                    <br/>
                    Artimex Sport GmbH shall implement your order on the basis of the following terms and conditions.
                    <br/><br/>
                    1. Prices and Completion of Contract
                    <br/><br/>
                    Prices are quoted in UDS (US DOLLAR).<br/>
                    Customs duties and other local taxes are not included in the price.<br/>
                    In so far as no contract exists between you and us, the prices listed in the price list are subject to alteration and an interim sale of the product mentioned in the catalogue remains reserved. You will find information on the duration of the validity of each of our limited offers where they are offered in the Internet shop. The sales contract for the article selected by you becomes valid when we accept your order. This comes into effect through "Confirmation of Contract" in text form, the notification of the delivery or the handing over of goods. If the price supplied for the order no longer applies, e.g. as a result of interim changes to our price list and/or catalogue prices or should the product not be available for delivery anymore, we shall inform you after inputting the order, so that you can choose if you wish to continue with the order under the changed conditions or abandon the order altogether.
                    <br/><br/>
                    2. Return
                    <br/><br/>
                    If you wish to return goods outside of the conditions of guarantee please contact us at:clientservice@artimexsport.com or telephone  +49 261 39071430<br/>
                    Please note that there is no right of return on:<br/>
                    Products that are prepared to your specifications or are clearly tailored to meet your personal needs or cannot be returned because of their composition.<br/>
                    Costs of Return by Commercial Organisations<br/>
                    If you are a corporate body or if you acquire the goods for a purpose that can be considered to be part of your commercial or self-employed occupation, the standard costs of return must be paid by you unless the goods delivered are not in accordance with those ordered or there is a valid complaint about the goods.
                    <br/><br/>
                    3. Defects and Guarantees
                    <br/><br/>
                    If despite comprehensive controls you receive goods with defects, our customer service team will help you.<br/>
                    The guarantee does not effect your legal rights and is valid for the time from transfer of goods to the consumer to the end of the period of guarantee. In regard to the guarantee, the consumer can return the goods right up to the end of the validity of guarantee at our costs to Artimex Usa (the guarantor). The consumer shall receive repair or replacement of goods at our discretion. The guarantee is only valid for natural use and consumer damages. The guarantee also does not cover purchasing contracts where the purchaser is practising his/her commercial business or their self-employed occupation.<br/>
                    There is no right to claim against us for damages or faults arising from incorrect operation or usage, or for use of force or natural wear and tear after transferral of risk.<br/>
                    Small deviations in the shape and colour of models, especially in subsequent deliveries and arising from technical changes undertaken in the course of further development are not defects.<br/>
                    <br/>
                    4. Our Service in Cases of Transport Damage
                    <br/><br/>
                    Artimex Sport GmbH insures all deliveries. Please inform us of damage within 24 hours.
                    <br/><br/>
                    5. Shipping and Shipping Costs<br/>
                    Shipping included via
                    <br/><br/>
                    a) If it is advantageous and economical to speed up deliveries we will make part deliveries. This is particularly the case when the delivery dates for certain products differ greatly from one another, in order that you can receive the products as quickly as possible.<br/>
                    b) Overseas deliveries are ex works. We will inform you of the delivery costs on request.
                    <br/><br/>
                    6. Easy Payment.
                    <br/><br/>
                    It is easy and convenient to pay for your orders:<br/>
                    a. Transfer: Purchasers known to us may pay for their orders by invoice. Partial or full deliveries will be paid in the remittance transfer and payment must be received in full within 30 days.<br/>
                    b. Credit Cards: Your credit card will be debited with the amount of the invoice when the goods are sent. As we do not save any credit card data, we must request that you supply the information with every new order.<br/>
                    c. Advance Transfer / Prepayment: You can transfer the sum on the confirmation of order to our account or by Paypal. Once we receive the payment the goods ordered will be dispatched without delay according to their availability.
                    <br/><br/>
                    7. Reservation of Title
                    <br/><br/>
                    The product remains our property until complete payment is received. The customer is not permitted to sell on the product in question until he/she has fully discharged their obligations arising from the purchase.<br/>
                    If, under reservation of title, the customer is practising a commercial business or is self-employed and purchased the goods in the practising of their business, then he/she has the right to further sell the goods in accordance with normal sales practise. He/she transfers over existing claims onto us upon selling on the product in the amount of the value of the invoice. We hereby accept this transfer.
                    <br/><br/>
                    8. Trademark Rights
                    <br/><br/>
                    We reserve the copyright, trademark, intellectual property and design rights for all products, illustrations and other documents delivered by us. Any reproduction by third parties requires our express permission.
                    <br/><br/>
                    9. Data protection/System safety/Electronic Orders
                    <br/><br/>
                    a) We save and process your order and data only in so far as this information is necessary to conduct our business and do so in a manner permissible under data protection law. In this framework, we use your data for our own commercial purposes and pass the information within legally permitted restrictions to selected companies for advertising purposes, within the legal restrictions. You will receive all contents of contracts, i.e. the content of your order and also the general terms and conditions that have become part of the contract, along with the information about the delivery. Should you lose the documentation about your order, please e-mail, telephone or fax us and we will be happy to send you a copy of the data on your order.<br/>
                    Our Online-Shop has encoding technology and a safe server (SSL) to protect the privacy of users.
                    <br/><br/>
                    10. Other Terms and Conditions
                    <br/><br/>
                    If one of the above trading conditions should be rendered invalid, all other conditions remain valid. All other agreements must be in written form. We hereby reject customer general terms and conditions.<br/>
                    Place of jurisdiction is Koblenz Germany if the customer is a businessperson, corporate entity under public law or a public separate estate.<br/>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
{% endblock %}
{% block footer %}
    <!-- Start of footer area -->
    {% include '/client/statics/footer.html.twig' %}
    <!-- End of footer area -->
{% endblock %}