{{ form_start(form) }}
<div class="row">
    {% form_theme form ':form:sample_choice_widget.html.twig' %}
    <div class="row col-xs-8 col-xs-offset-4">
        {{ form_errors(form.materialSamples) }}
    </div>
    {{ form_widget(form.materialSamples) }}
</div>
